/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f57921;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.modal-content-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 5px 9px #888888;
}

.show-modal-game {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#board {
  border: 5px solid #ffca08;
  background-color: #398bd4;
  padding: 5px;
  margin-top: 20px;
}
.row {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: 5px;
}

.boggle {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: -4px 2px 8px 1px rgba(0, 0, 0, 0.69);
  margin: 5px;
}

.boggle span {
  font-weight: bold;
  display: block;
  position: relative;
  top: 78%;
  transform: translateY(-50%);
  height: 100%;
}

.boggle-input-main {
  padding: 42px;
}
.boggle-input {
  width: 60% !important;
}
